@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@view-transition {
    navigation: auto
}

*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
  height: fit-content;
}

body {
    overflow-x: hidden;
    view-transition-name: main-card;
    scroll-behavior: smooth;
}

::view-transition-old(main-card) {
    animation: 0.6s ease both slide-out;
} 

::view-transition-new(main-card) {
    animation: 0.6s ease both slide-out;
}

@keyframes slide-out {
    from {opacity: 0.5; transform: translateX(0);}
    to {opacity: 0; transform: translateX(-40px);}
}

@keyframes slide-in {
    from {opacity: 0; transform: translateY(-40px);}
    to {opacity: 1; transform: translateX(0);}
}


header {
    height: 350px;
    background-image: url(/corporate-background.png) ;
    background-attachment: fixed;
    overflow: hidden;
}

nav {
    display: flex;
    position: absolute;
    gap: 400px;
    position: fixed;
    width: 1400px;
    background-color: rgba(128, 128, 128, 0.048);
    z-index: 1;
    transform: translateY(-50%);
    transition: opacity 1.0s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

nav.active {
  opacity: 1;
  transform: translateY(0);
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding-top: 15px;
    padding-left: 20px;
}


.nav-bar {
    display: flex;
    width: 800px;
    gap: 20px;
    padding-top: 30px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size:  14px;
    height: 20px;
    font-family: "inter", sans-serif;
}

.nav-bar a:hover {
    color: gray;
    transform: translateY(-5px) scale(1.09);
}

.h-wed {
    padding-top: 170px;
    padding-left: 40px;
    font-size: 55px;
    font-weight: 400;
    color: white;
    font-family: "inter", sans-serif;
    transform: translateX(50%);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.h-wed.active {
  opacity: 1;
  transform: translateY(0);
}

main {
    background-color: black ;
    
    height: 670px;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.mid-sec {
    
    padding-left: 370px;
    padding-top: 80px;
    width: 100%;
    
}

.ppp {
    padding-top: 20px;
    width: 100%;
}

.unforget {
    color: white;
    padding-left: 60px;
    font-style: italic;
    font-family: "lora", serif;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.unforget.active {
  opacity: 1;
  transform: translateY(0);
}

.p-cor {
    color: white;
    font-size: 20px;
    width: 500px;
    text-align: center;
    padding-right: 600px;
    /* font-family: "inter", sans-serif; */
    font-style: italic;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.p-cor.active {
  opacity: 1;
  transform: translateY(0);
}


.project {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 700px;
    padding-top: 60px;
    
}

.nest {
    width: 100%;
    padding-left: 60px;
}

.project button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0.411);
    background-color: rgb(21, 20, 20);
    color: rgba(255, 255, 255, 0.776);
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.project button.active {
  opacity: 1;
  transform: translateY(0);
}

.project button:hover {
    transform: translateX(5px) scale(1.2);
}

.cover {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.cover.active {
  opacity: 1;
  transform: translateY(0);
}

.trans {
    color: white;
    font-size: 50px;
    font-weight: 400;
    width: 800px;
    padding-left: 50px;
    font-family: "inter", sans-serif;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.trans.active {
  opacity: 1;
  transform: translateY(0);
}

.empty-nest {
    width: 100%;
    padding-left: 45px;
}

.empty {
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.283);
    width: 395px;
    padding-left:  10px;
    height: 50px;
    gap: 90px;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.empty.active {
  opacity: 1;
  transform: translateY(0);
}

.e {
    width: 3px;
    height: 50px;
    background-color: white;
}

.empty h1 {
    color: white;
    font-size: 40px;
    font-family: "inter", sans-serif;
    /* transform: translateY(40px); */
    /* transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1); */
}



section {
    display: flex;
    background-color: rgba(77, 97, 77, 0.046);
    height: 500px;
    padding-top: 700px;
    padding-left: 100px;
    overflow: hidden;
}

.sec1 {
    display: flex;
    color:black;
    width: 100%;
    padding-top: 10px;
}

.event-card{
    position: relative;
    width: 300px;         
    height: 300px; 
    border-radius: 40px;  
    overflow: hidden;     
    cursor: pointer;
    transform: translateX(50%);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.event-card.active {
  opacity: 1;
  transform: translateY(0);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease, filter 0.6s ease;
  transform: translateX(50%);
  transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.card-image {
    opacity: 1;
    transform: translateY(0);
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.6s ease;
}

.text-overlay h4 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 44px;
  text-align: center;
  padding: 10px 15px;
  margin: 0;
}

.event-card:hover .card-image {
  transform: scale(1.10);
  filter: blur(8px); 
}

.event-card:hover .text-overlay {
  opacity: 1;
}

.in-sec {
    width: 580px;
    padding-top: 60px;
}

.in-sec h1 {
    font-family: "lora", serif;
    padding-bottom: 15px;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.in-sec h1.active {
  opacity: 1;
  transform: translateY(0);
}

.in-sec p {
    padding-top: 25px;
    font-size: 20px;
    width: 500px;
    line-height: 30px;
    color: gray;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.in-sec p.active {
  opacity: 1;
  transform: translateY(0);
}

.butt {
    padding-top: 25px;
    
}

.butt button {
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.butt button.active {
  opacity: 1;
  transform: translateY(0);
}

.butt button img {
    width: 20px;
    padding-left: 4px;
}

.butt button:hover {
    transform: translateX(5px) scaleY(1.0);
}

.image-grid {
    display: flex;
    gap: 20px;
}

.grid1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.grid1 img {
    width: 100px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.grid1 img.active {
  opacity: 1;
  transform: translateY(0);
}

.grid2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 50px;
}

.grid2 img {
    width: 100px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.grid2 img.active {
  opacity: 1;
  transform: translateY(0);
}

footer {
    display: flex;
    /* gap: 200px; */
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
}

.first-foot {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    width: 300px;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.first-foot.active {
  opacity: 1;
  transform: translateY(0);
}

.first-foot p {
    line-height: 25px;
    font-style: italic;
    font-size: 20px;
}

.first-foot img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.second-foot {
    display: flex;
    flex-direction: column;
    width: 200px;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.second-foot.active {
  opacity: 1;
  transform: translateY(0);
}

.second-foot a {
    text-decoration: none;
    color: #000000;
    line-height: 32px;
}

.second-foot a:hover {
    font-size: 20px;
}

.third-foot {
    display: flex;
    flex-direction: column;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.third-foot.active {
  opacity: 1;
  transform: translateY(0);
}

.third-foot p {
    width: 200px;
    padding-top: 20px;
}

.mobile {
    display: none;
}

@media screen and (max-width: 450px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        overflow-x: hidden;
        width: 100%;
        max-width: 450px;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 30px;
        position: fixed;
        background-color: rgba(128, 128, 128, 0.409);
        width: 100%;
        height: 60px;
        z-index: 100;
    }

    .mob-logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .mob-ham {
        width: 30px;
        height: 20px;
    }

    .mobile-header {
        background-image: url(/corporate-background.png);
        height: 250px;
    }

    .mobile-header h1 {
        padding-top: 120px;
        padding-left: 40px;
        font-size: 40px;
        font-weight: 400;
        color: white;
    }

    .show {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: black;
        position: fixed; 
        z-index: 101;
        
    }

    .ham {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .show {
        display: none;
    }

    .show a {
        text-decoration: none;
        color: white;
        padding-top: 20px;
        font-size: 22px;
        font-family: "inter", sans-serif;
    }

    .show a:hover {
        color: goldenrod;
        transform: scale(1.4);
    }

    .top {
        padding-top: 8px;
        padding-left: 10px;
        display: flex;
        padding-right: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .close {
        height: 20px;
        width: 20px;
    }

    .mobile-log {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .mobile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000;
    }

    .sec-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .sec-text h1 {
        font-size: 25px;
        padding-top: 10px;
        color: white;
    }

    .sec-text p {
        padding-top: 6px;
        color: white;
        font-family: "inter", sans-serif;
        font-size: 15px;
    }

    .mob-mid-sec {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 98px;
        padding-top: 20px;
        gap: 10px;
    }

    .mob-mid-sec button {
        width: 100px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.473);
        background-color: transparent;
        color: white;
    }


    .mob-mid-sec button:hover {
        transform: scale(1.1);
        background-color: whitesmoke;
        color: #000000;
    }

    .mob-mid-sec h5 {
        color: white;
        font-family: "inter", sans-serif;
        font-size: 11px;
    }

    .pro {
        display: flex;
        gap: 8px;
    }

    .succ {
        display: flex;
        /* border: solid white; */
        width: 100px;
        gap: 10px;
        background-color: rgba(128, 128, 128, 0.53);
    }

    /* .succ h5 {
        width: 200px;
    } */

    .mob-empty {
        display: block;
        width: 1px;
        background-color: white;
        height: 14px;
    }



    .lekoil {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.6s ease, filter 0.6s ease;
        transform: translateX(50%);
        transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .lekoil {
        opacity: 1;
        transform: translateY(0);
    }

    .mob-card{
       position: relative;
       width: 340px;         
       height: 340px;  
       overflow: hidden;     
       cursor: pointer;
       opacity: 0.95;    
       /* transform: translateX(50%); */
       transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    }

   /* .mob-card.active {
       opacity: 1;
       transform: translateY(0);
    } */

    .mobile-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: opacity 0.6s ease;
    }

    .mobile-overlay h4 {
        color: #ffffff;
        font-family: sans-serif;
        font-size: 44px;
        text-align: center;
        padding: 10px 15px;
        margin: 0;
    }

    .mobile-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .top-house {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        gap: 15px;
        width: 100%;
        align-items: center;
    }

    .mob-t {
        text-align: center;
        font-family: "inter", sans-serif;
    }

    .green {
        width: 100px;
        height: 35px;
        justify-content: center;
        border-radius: 30px;
        color: white;
        background-color: #000000;
        border: none;
    }

    .green:hover {
        transform: translateX(5px) scale(1.3);
        background-color: rgba(17, 145, 17, 0.872);
        color: black;
    }

    .mob-arrow {
        width: 15px;
        height: 5px;
    }

    .mobile-grid {
        display: flex;
        gap: 20px;
        padding-top: 30px;
    }

    .mob-grid1 {
        display: flex;
        flex-direction:  column;
        padding-top: 45px;
        gap: 20px;
    }

    .mob-grid1 img {
        width: 150px;
        height: 200px;
        border-radius: 30px;
        object-fit: cover;
    }

    .mob-grid2 {
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }

    .mob-grid2 img {
        width: 150px;
        height: 200px;
        border-radius: 30px;
        object-fit: cover;
    }

    .trust {
    padding-top: 30px;
    padding-left: 120px;
    font-family: "inter", sans-serif;
    font-size: 16px;
}

.logo-show {
    overflow-x: hidden;
  width: 100%;
  white-space: nowrap;
  display: flex;
  background-color: #ffffff; /* Clean luxury background */
  padding: 20px;
  padding-top: 30px;
}

.logos {
     display: flex;
     align-items: center;
  gap: 20px; /* Space between images */
  /* Adjust '30s' to make the scroll faster or slower */
  animation: scrollContinuous 30s linear infinite; 
}

@keyframes scrollContinuous {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logos img {
    width: 150px;
    height: 50px;
    object-fit: contain;
}

.mobile-footer {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    text-align: center;
}

.mobile-footer p {
    font-family: "inter", sans-serif;
    font-size: 13px;
    padding-top: 5px;
}

.mob-con {
    width: 100%;
    padding-left: 10px;
}

.mobile-footer img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.company {
    padding-top: 10px;
}

.mobile-ref {
    display: flex;
    flex-direction: column;
}

.mobile-ref a {
    text-decoration: none;
    color: #000000;
    font-family: "inter", sans-serif;
    font-size: 13px;
    padding-top: 10px;

}
    
}

@media screen and (max-width: 320px) {
    .mobile-header {
        max-width: 320px;
    }

    .mobile-nav {
        width: 100%;
        gap: 220px;
    }

    .show {
        width: 100%;
        position: fixed;

    }

    .top {
        gap: 220px;
    }

    .mobile-header h1 {
        font-size: 33px;
        padding-right: 50px;
        padding-left: 10px;
    }

    .sec-text h1 {
        font-size: 20px;
    }

    .sec-text p {
        font-size: 11px;
    }

    .mob-card {
        width: 280px;
        height: 280px;
    }

    .top-house h1 {
        font-size: 23px;
    }

    .mob-t p {
        font-size: 12px;
    }

    .mobile-grid {
        gap: 15px;
    }

    .mob-grid1 {
        gap: 15px;
    }

    .mob-grid2 {
        gap: 15px;
    }

    .mob-grid1 img {
        width: 120px;
        height: 170px;
    }

    .mob-grid2 img {
        width: 120px;
        height: 170px;
    }
    
    .trust {
        padding-left: 50px;
    }


}



